
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: $background-gradient;
    padding: 2rem;
  
  .title {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2rem;
  }
  .form {
    display: block;
    width: 100%;

    .button-container {
      display: flex;
      justify-content: center;
      padding: 0rem 0.8rem;
  
      .submit {
        margin-top: 1rem;
        background: $green;
        border: 1px solid $green;
        color: #fff;
        width: 100%;
        height: 3rem;
        font-size: 1.8rem;
        text-transform: uppercase;
      }
    }
  
    .input-container {
      display: flex;
      flex-direction: column;
      margin: 1rem;
  
      input[type="text"] {
        height: 3rem;
        font-size: 1.8rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}

